.header-img {
    height: 300px!important;
    overflow: hidden;
    object-fit: cover;
    width: 100vw;
    opacity: 0.4;
}

.card{
    overflow: hidden;
    transition: box-shadow 330ms ease-in-out;
}

.card:hover{
    box-shadow: 15px 10px 30px gainsboro;
}

.card-body {
    z-index: 1;
    background-color: white;
}

.card-img-top {
    height:160px!important;
    object-fit: cover;
    z-index: 0;
}

.transformation:hover {
    transform: scale(1.2);
    opacity: 0.5;
}

.transformation {
    transition: transform 330ms ease-in-out;
}

.img-full-display {
    height: 500px;
    object-fit: cover;
}

.plus-minus-input {
    align-items: center;
}

.input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
}

.input-group-button, .circle  {
    border-radius: 50%;
    padding: 0.25em 0.8em;
}

#form-error {
    display: none;
    background-color: rgba(255, 0, 0, .2);
}

